.privacyPolicy-page {
    background-color: rgb(81, 27, 161);
    height: 100vh;
}

.privacyPolicy-page h1{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 70vh
}